{% set data = load_data(path="content/logos/logos.toml") %}

<div class="row centered top-buffer">
  {% for logo in data.logo %}
    <div class="col-lg-3 col-md-3 col-sm-3" style="padding-top: 10px">
      {% if logo.photo %}
        <a href="logo.url"><img src="{{ resize_image(path="logos/" ~ logo.photo, height=260, op="fit_height") | safe }}"
             alt="{{ logo.name }}'s photo"></a>
      {% else %}
        <img src="https://placeholdit.imgix.net/~text?&txt=&w=350&h=150" alt="" class="mugshot">
      {% endif %}
    </div>
  {% endfor %}
</div>
