<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{page.title}} - {% endif %}{{ config.title }}</title>
    <link rel="shortcut icon" href="{{config.base_url}}/img/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- uikit -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/css/uikit.min.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script>

    <!-- time zone localization -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/dayjs.min.js" integrity="sha256-EfJOqCcshFS/2TxhArURu3Wn8b/XDA4fbPWKSwZ+1B8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.7/plugin/utc.js" integrity="sha256-qDfIIxqpRhYWa543p6AHZ323xT3B8O6iLZFUAWtEQJw=" crossorigin="anonymous"></script>

    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="CodeRefinery" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" />
    {% endblock %}

    {% include "twitter.html" %}

    {% if config.extra.search_engine_exclude %}
    <!-- Exclude from search engines (this would be used when building other branches) -->
    <meta name="robots" content="noindex,nofollow" />
    {% endif %}

    <link href="{{ get_url(path="style.css") }}" rel="stylesheet">

    {% if config.extra.plausible and get_env(name="GITHUB_REF", default="") == config.extra.plausible['github_ref'] %}
    <script defer data-domain="{{ config.extra.plausible['domain'] }}" src="{{ config.extra.plausible['src'] | safe }}"></script>
    {% endif %}


  </head>

  <body>
    <div class="uk-container uk-margin-large-bottom">

      {% include "navigation.html" %}

      <div class="markdown">
        {% block content %}
        {% endblock content %}
      </div>

      <div class="uk-margin-large-top">
        <hr>
        {% include "footer.html" %}
      </div>

    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
  <script>
    anchors.add();
  </script>
</html>
