<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ get_url(path="img/favicon.ico") | safe }}">

    {% if page.title %}
      <title>{{ page.title }}</title>
      <meta name="twitter:title" content="{{ page.title }}" />
    {% else %}
      <title>{{ config.title }}</title>
      <meta name="twitter:title" content="{{ config.title }}" />
    {% endif %}

    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ config.description }}" />
      <meta name="twitter:description" content="{{ config.description }}" />
    {% endif %}

    {% if config.extra.twitter_image %}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:image" content="{{ config.extra.twitter_image | safe }}" />
    {% endif %}

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ get_url(path="css/style.css") | safe }}" rel="stylesheet">
  </head>

  <body>
    <main role="main">
      <div class="container">

        <div class="row top-buffer">
          <div class="col-sm-12">
            <h1>{{ config.title }}</h1>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% for link in config.extra.navigation %}
                {% if link.path is containing("http") %}
                  <a class="nav-link" href="{{ link.path | safe }}">{{ link.name }}</a>
                {% else %}
                  <a class="nav-link" href="{{ get_url(path=link.path) | safe }}">{{ link.name }}</a>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </nav>

        <div class="row top-buffer">
          <div class="col-sm-10">
            {% block content %}
            {% endblock content %}
          </div>
          <div class="col-sm-2">
            {% for logo in config.extra.logos %}
            <a href="{{ logo.target_url }}">
              <img src="{{ resize_image(path="logos/" ~ logo.image, height=120, op="fit_height" ) | safe }}" alt="{{ logo.alt_text }}"
                style="margin-top: 25px;">
            </a>
            {% endfor %}
          </div>
        </div>

      </div>
    </main>

    <!-- footer -->
    <footer class="text-muted">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <p>
              <strong>Funding</strong>
            </p>
            <p>
              CodeRefinery is a project within the
              <a href="https://neic.no">Nordic e-Infrastructure Collaboration</a> (NeIC).
              NeIC is an organisational unit under <a href="http://www.nordforsk.org/en">NordForsk</a>.
            </p>
          </div>
          <div class="col-lg">
            <p>
              <strong>Privacy</strong>
            </p>
            <p>
              <a href="https://coderefinery.org/privacy-policy/">Privacy policy</a>
            </p>
          </div>
          <div class="col-lg">
            <p>
              <strong>Follow us</strong>
            </p>
            <p>
              <a href="https://github.com/coderefinery" class="social">
                <i class="bi bi-github" style="font-size: 2rem; color: black;"></i>
              </a>

              <a href="https://twitter.com/coderefine"  class="social" >
                <i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;"></i>
              </a>
            </p>
          </div>
          <div class="col-lg">
            <p>
              <strong>Contact</strong>
            </p>
            <p>
              <a href="mailto:support@coderefinery.org">support@coderefinery.org</a>
            </p>
          </div>
          <div class="col-lg">
            <p>
              <strong>Improve this page</strong>
            </p>
            <p>
              <a href="{{ config.extra.source_repo | safe }}">Source code</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.2.2/anchor.min.js"
      integrity="sha256-E4RlfxwyJVmkkk0szw7LYJxuPlp6evtPSBDlWHsYYL8=" crossorigin="anonymous"></script>
    <script>
      anchors.add();

      // https://github.com/twbs/bootstrap/issues/1768#issuecomment-6531466
      var shiftWindow = function () { scrollBy(0, -100) };
      if (location.hash) shiftWindow();
      window.addEventListener("hashchange", shiftWindow);
    </script>

  </body>
</html>
