{% extends "base.html" %}

{% block content %}
<div class="row top-buffer">
  <div class="col-sm-12">

    {% if section.title %}
    <h1>{{ section.title }}</h1>
    {% else %}
    <h1>CodeRefinery</h1>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-sm-10">

    {% if section.content %}
    {{ section.content | safe }}
    {% endif %}

  </div>
  <div class="col-sm-2">
    {% for logo in config.extra.logos %}
    <a href="{{ logo.target_url }}">
      <img src="{{ resize_image(path="logos/" ~ logo.image, height=120, op="fit_height" ) | safe }}" alt="{{ logo.alt_text }}"
        style="margin-top: 25px;">
    </a>
    {% endfor %}
  </div>
</div><!-- row -->
{% endblock content %}
