<h2>Registration</h2>

{% if config.extra.registration_is_open %}
  <a class="btn btn-success" href="{{ config.extra.registration_link | safe }}" data-mode="1" target="_blank">Register here</a>
{% endif %}

{% if config.extra.registration_is_closed %}
  <a class="btn btn-danger disabled" href="#" data-mode="1" target="_blank">Registration is closed</a>
{% endif %}

{% if not config.extra.registration_is_open and not config.extra.registration_is_closed %}
  <a class="btn btn-info disabled" href="#" data-mode="1" target="_blank">Registration will open soon</a>
{% endif %}

{% set registration = get_page(path="registration.md") %}
{{ registration.content | safe }}
